@import "./colors.css";
@import "./dh-common/dh-common.css";
@import "./tyography.css";
@import "./header-footer.css";
@import "./grid.css";
@import "./filters.css";
@import "./crime.css";
@import "./notes.css";
@import "./notes.css";

:root {
  --margin: 0;
  --padding: 0;
  --font-head: "Arvo", serif;
  --font-copy: "Alegreya Sans", sans-serif;
}

::selection {
  color: #000;
  background: #fbd404;
}

body {
  padding: 0;
  margin: 0;
  background: var(--white);
  font-family: var(--font-copy);
  font-size: 1em;
}

.container {
  margin: 0 auto;
  padding: 0em;
  min-width: 320px;
}

main {
  padding: 1em;
  padding: 5em 1em 2em;
}

.ContainBox {
  border: 1px solid var(--grey-100);
  padding: 1em 1.25em;
  background: hsl(0, 0%, 100%);
  border-radius: 3px;
  box-shadow: 0px 2px 10px -10px black;
}

.panel {
  box-shadow: 0px 2px 10px -10px black;
}

button {
  font-weight: 400;
  color: hsl(0, 0%, 20%);
  background: white;
  border: 1px solid hsla(0, 0%, 24%, 0.2);
}

button:hover {
  color: var(--white);
  background: var(--deepBlue);
  border: 1px solid transparent;
}

.xOut {
  width: 1.8em;
  height: 1.4em;
  border-radius: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  float: right;
  text-align: center;
  position: relative;
  padding-top: 0.4em;
  top: -1em;
  right: -2em;
}

.xOut:hover {
  background: rgba(0, 0, 0, 0.5);
}
